// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.pointer {
  cursor: pointer !important;
}

.centered {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
}

.between {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-between;
}

.fullscreen-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.navbar-wrapper,
.sidebar-wrapper {
  position: fixed;
}

.navbar-wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @extend .w-100;
  height: $navbar-height;
  z-index: 4;

  .navbar-header,
  .navbar-body {
    @extend .h-100;
  }

  .navbar-header {
    position: absolute;
    top: 0;
    left: 0;
    width: $sidebar-width;
  }
  .navbar-body {
    @extend .w-100;
    @extend .d-flex;
    @extend .align-items-center;
    margin-left: $sidebar-width;
  }
}

.sidebar-wrapper {
  top: $navbar-height;
  left: 0;
  width: $sidebar-width;
  height: $body-height;
  max-height: $body-height;
  overflow-y: auto;
  font-size: 0.9rem;
  z-index: 3;
  @extend .pt-3;
  @extend .pb-5;

  .nav-item {
    .nav-link {
      @extend .text-muted;
      &:hover {
        @extend .fw-bold;
      }

      .icon-arrow {
        transition: $transition-base;
      }
    }
  }

  .children {
    @extend .bg-light;
    .nav-item {
      .nav-link {
        line-height: 1.3;
      }
    }
  }

  .active {
    @extend .fw-bold;

    .icon-arrow {
      transform: rotate(180deg);
    }
  }
}

.content-wrapper {
  margin-top: $navbar-height;
  margin-left: $sidebar-width;
  @extend .pt-4;
  @extend .pb-5;
  @extend .px-3;
  @extend .px-md-5;
}

.tree {
  .indicator[aria-expanded="false"] {
    .icon-arrow {
      transition: $transition-base;
    }
  }
  .indicator[aria-expanded="true"] {
    .icon-arrow {
      transition: $transition-base;
      transform: rotate(90deg);
    }
  }
}

.table {
  @extend .mb-0;
}
